<div>
    <app-search></app-search>
    <app-filter [all]="getTotalData()"
    [male]="getMaleData()"
    [female]="getFemaleData()" 
    (filterButtonChange)="onFilterRadioButtonChange($event)"></app-filter>
</div>

<ng-container *ngFor="let p of dataBase">
  <div class="container" *ngIf="radioButtonCount === 'All' || radioButtonCount === p.gender">
    <div class="row">
        <div class="card" style="width: 18rem; margin: 10px;">
            <!-- <img src="" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">{{p.name}}</h5>
              <p class="card-text">{{p.pass}}</p>
              <p class="card-text">{{p.weight}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> 
    </div>
</div>
</ng-container>

